[submodule "hypercrawler-discovery-service"]
	path = hypercrawler-discovery-service
	url = https://github.com/avollmaier/hypercrawler-discovery-service
[submodule "hypercrawler-deployment"]
	path = hypercrawler-deployment
	url = https://github.com/avollmaier/hypercrawler-deployment
[submodule "hypercrawler-edge-service"]
	path = hypercrawler-edge-service
	url = https://github.com/avollmaier/hypercrawler-edge-service
[submodule "hypercrawler-config-service"]
	path = hypercrawler-config-service
	url = https://github.com/avollmaier/hypercrawler-config-service
[submodule "hypercrawler-config-repo"]
	path = hypercrawler-config-repo
	url = https://github.com/avollmaier/hypercrawler-config-repo
[submodule "hypercrawler-manager-service"]
	path = hypercrawler-manager-service
	url = https://github.com/avollmaier/hypercrawler-manager-service.git
[submodule "hypercrawler-prioritizer-service"]
	path = hypercrawler-prioritizer-service
	url = https://github.com/avollmaier/hypercrawler-prioritizer-service.git
